div.green {
    background-color:#009688;
    height: 15vh;
}

div.dark-gray {
    background-color: #d9dbd4;
    height: 85vh;
}

div#chat-wrapper {
    background-color: white;
    width: 100%;
    height: 90%;
    top: 5%;
}

div#chat-wrapper div#contacts {
    width: 30%;
}

div#contacts .header, 
div#chat .header {
    background-color: #eaeaeae2;
    height: 10%;
}

div#chat-wrapper div#chat {
    width: 70%;
}

div#chat-wrapper div#user-avatar,
div#notifications .bell-icon,
div#contact-avatar {
    height: 50px;
    width: 50px;
}

div#contacts div#notifications {
    background-color: #8ddafc;
    height: 85px;
}

div#notifications .bell-icon {
    /* border-radius: 50%;
    height: 50px;
    width: 50px; */
    background-color: white;
}


div#contact-chat-info img {
    width: 20%;
}

div#chat div.chat-container {
    background-image: url("../img/mine.jpg");
    height: 80%;
}

div#chat div#chat-footer {
    height: 8%;
    background-color: #c5c2be;
}

div#chat-footer input {
    height: 90%;
    border: none;
}

/* active contact class */
div#contacts #contact-box.active,
div#contacts #contact-box:hover {
    background-color: #ebebeb;
    cursor: pointer;
}


/* Colors */
.my-light-blue {
    color: #8ddafb;
} 
.my-grey{
    color: rgba(128, 128, 128, 0.772);
}

